.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.btn {
  width:90%;
  margin:0 auto;
  background: #d16b6b;
  background-image: -webkit-linear-gradient(top, #d16b6b, #a34b4b);
  background-image: -moz-linear-gradient(top, #d16b6b, #a34b4b);
  background-image: -ms-linear-gradient(top, #d16b6b, #a34b4b);
  background-image: -o-linear-gradient(top, #d16b6b, #a34b4b);
  background-image: linear-gradient(to bottom, #d16b6b, #a34b4b);
  font-family: Arial;
  color: #ffffff;
  font-size: 95%;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #ffd9d9;
  background-image: -webkit-linear-gradient(top, #ffd9d9, #b58080);
  background-image: -moz-linear-gradient(top, #ffd9d9, #b58080);
  background-image: -ms-linear-gradient(top, #ffd9d9, #b58080);
  background-image: -o-linear-gradient(top, #ffd9d9, #b58080);
  background-image: linear-gradient(to bottom, #ffd9d9, #b58080);
  text-decoration: none;
}
body{
  -webkit-user-select: none; /* Chrome/Safari */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */

/* Rules below not implemented in browsers yet */
-o-user-select: none;
user-select: none;
}

/*#grid{
  width: 40%;
}*/
.gridStyle {
  display:flex;
  background: #FAFAFA;
  flex-flow: row wrap;

}
.rowStyle {
  display:contents;
}
.btnContainer{
  width:30%;
  margin:0 auto;
  display:flex;
}
.inforContainer{
  width:30%;
  height:35px;
  margin:0 auto;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
}
.inforContainer *{
  width:50%;
}

.cStyle{
  border: 1px solid #000;
  width: 12px;
  height: 12px;
}
